<div class="audio-list">
    {{#each audioFiles}}
        <button class="audio-item" onclick="playSound(`{{ this.name }}`)"><span class="audio-name">{{ this.name }}</span></button>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    const guildId = "357575089799299072";

    function playSound(audioName) {
        $.get(`/api/play/?guildId=${guildId}&name=${audioName}`);
        console.log('Play sound', audioName);
    }
    
    const audioItems = document.querySelectorAll('.audio-item');

    audioItems.forEach(item => {
        const randomEmoji = getRandomEmoji();
        item.innerHTML = randomEmoji + '<span class="audio-name">' + item.textContent.trim() + '</span>';
        const randomColor = getRandomColor();
        item.style.backgroundColor = randomColor;
        item.style.color = isLightColor(randomColor) ? "#000000" : "#ffffff";
    });

    function getRandomEmoji() {
        const minCodePoint = 0x1F600;
        const maxCodePoint = 0x1F64F;
        const codePoint = Math.floor(Math.random() * (maxCodePoint - minCodePoint + 1)) + minCodePoint;
        return String.fromCodePoint(codePoint);
    }

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function isLightColor(color) {
        // Convert hex to RGB
        const r = parseInt(color.substr(1, 2), 16);
        const g = parseInt(color.substr(3, 2), 16);
        const b = parseInt(color.substr(5, 2), 16);
        // Calculate luminance
        const luminance = (0.299 * r + 0.587 * g + 0.114 * b) / 255;
        return luminance > 0.5; // Return true if light, false if dark
    }
</script>